.fatherpdf{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    
}
.divpdfimg{
    justify-content: center;
    display: flex;
    align-items: center;
    column-gap: 80px;
    text-align: start;
    font-size: 24px;
    
}
.imgpdf{
    width:30px ;
    height: 40px;
}
.atextpdf{
    width: 250px;
    text-decoration: none;
    color: black;
}

@media (max-width:667px) { 
    .imgpdf{
        width: 40px;
    }
    .fatherpdf{
       width: 100%;
    }
    .divpdfimg{
        column-gap: 0px;
        font-size: 18px;
    }
    .atextpdf{
        width: 200px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
    }
  
}