.cardconteiner{

    background-color:#E5E7EB;
    width: 552px;
    height: 330px;
    padding: 30px;
}
.carddiv{
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 552px;
    height: 330px;
}